body {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
}


/*
div.page-content {
    background-color: rgb(0, 173, 239);
    padding: 30px;
    filter: alpha(opacity=60);
    For IE8 and earlier
}
*/

h1 {
    color: black;
    /*    text-shadow: 2px 2px 0px black;*/
}

#sidebar-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
}

th,
td {
    text-align: center;
}

#menu-toggle {
    border: none;
    color: inherit;
    background-color: inherit;

}