body {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #fff;
    background-repeat: no-repeat;
}

h1 {
    color: black;
}

#sidebar-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: #e95420;*/
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
}

th,
td {
    text-align: center;
}

#menu-toggle {
    border: none;
    color: inherit;
    background-color: inherit;
}

#map {
    width: 100%;
    height: 250px;
}

td {
    border: 1px solid;
    border-color: black;
}

#marker {
    float: right;
}